@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-screen transition-colors duration-500 bg-white text-gray-900 dark:bg-[#011238] dark:text-white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
